.container {
  height: 100%;
  width: 100%;
}

.navContainer {
  position: fixed;
  margin-left: 100px;
  width: 300px;
  z-index: 1;
}

.nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.selected {
  color: #413e3e;
}

.exhibitionList {
  position: absolute;
  list-style: none;
  padding-left: 20px;
}

.exhibitionListItem {
  margin: 5px 0;
}

.exhibitionListItemButton {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #908e8f;
}

.exhibitionListItemButton:hover {
  color: #413e3e;
}

.exhibitionListItemSelectedButton {
  border: none;
  background: transparent;
  color: #413e3e;
}

.main {
  margin-left: 400px;
  height: 100%;
}

.exhibitionSlides {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.exhibitionSlide {
  height: 500px;
  margin-right: 20px;
}

.exhibitionSlideImage {
  height: 100%;
}
